html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;

    background: #111;

    color: white;
    
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    
    gap: 10px;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: 5fr 1fr;
}

.item:nth-child(2) {
    align-self: end;
}

.item:nth-child(3) {
    grid-column: 1 / 3;

    place-self: end center;
    text-align: center;
    
    line-height: 10px;

    font-family: 'NanumSquare', sans-serif;
    font-size: large;
}

.item:nth-child(3) #playTime {
    margin-bottom: 25px;
}

.item:nth-child(3) * {
    padding-right: 10px;
}

#playCustom {
    line-height: 40px;
}

#game {
    line-height: 0px;
}

#floor {
    width: 480px;
    background: #B37B50;
}

#playAgainButton {
    position: absolute;
    float: left;
    margin-left: 190px;
    top: 500px;

    width: 100px;
    height: 35px;
}

button {
    border-radius: 10px;
    border: #4caf50;
    color: #fe9;
    background: #4caf50;
    outline: none;
    cursor: pointer;
    
    width: 225px;
    height: 50px;

    box-shadow: 2px 2px #409242;

    font-family: 'NanumSquare', sans-serif;
}

a {
    color: white;
}

@media (max-aspect-ratio: 100/149) {
    body {
        font-size: xx-large;
    }

    #game {
        height: 100%;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 10fr 1fr 1fr;

        gap: 30px;
    }

    .item:nth-child(1) {
        order: 2;
    }

    .item:nth-child(2) {
        order: 1;
    }

    .item:nth-child(3) {
        order: 3;
        grid-column: 1;
    }
}